@import '@servicenow/sass-kit/host';

div {
    display: grid;
    grid-template-columns: repeat(2, auto);

    & > * {
        margin: 10px;
    }
}

.loading-block {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}